# Folders
build/
.idea/
log/
out/
wealthman/dist
wealthman/.cache
wealthman/node_modules/
w-server/node_modules/
w-server/trading/connection_settings.js
w-server/img/*
w-chat/node_modules/

# Files
*.config.js
*.ids
*.iws
*.iml
*.ipr
*.log

# OS-specific files
[Tt]humbs.db
*.DS_Store
