.modal-wrapper
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(7, 30, 64, 0.75)
  z-index: 1001
  cursor: pointer
  pointer-events: none
  opacity: 0
  transition: opacity .3s
  &.visible
    opacity: 1
    pointer-events: all
  .auth-box
    border: 2px solid rgba(0, 0, 0, 0)
    transition: .3s all
    cursor: default
    width: 444px
    padding: 40px
    background-color: white
    border-radius: 5px
    // height: 520px
    position: relative
    overflow-y: auto
    max-height: calc(100% - 40px);
    &.registration-box
      // height: 635px
    .close-modal-btn
      cursor: pointer
      background-image: url('../img/close.svg')
      background-position: center
      background-repeat: no-repeat
      width: 16px
      height: 16px
      position: absolute
      right: 23px
      top: 23px
    h2
      font-size: 22px
      color: #071e40
      font-weight: 500
      margin-bottom: 10px
    small
      font-size: 13px
      margin-bottom: 10px
      text-align: center
      display: inline-block
      a
        text-transform: none !important
        color: #79828f !important
        text-decoration: underline !important
    span
      color: #79828f
    .row
      // margin-top: 24px
      &.first-input-row
        margin-top: 34px
    .oauth-container
      width: 358px
      margin: auto
      display: flex
      & > *
        display: block
        width: 50%
        overflow: hidden
        font-size: 14px !important
        height: 50px
        font-weight: normal !important
        *
          text-transform: none
          font-weight: normal
          height: 50px
          width: 100%
          padding: 10px
          padding-left: 0 !important
          padding-right: 0 !important
          font-size: 14px !important
        &:nth-child(1)
          border-radius: 5px 0 0 5px !important
        &:nth-child(2)
          border-radius: 0 5px 5px 0 !important
    label
      font-size: 13px
      color: #071e40
      margin-bottom: 11px
      text-transform: uppercase
      display: table
      float: left
    input
      width: 100%
      padding: 17px
      font-size: 15px
      height: 50px
    .forgot-password-link
      float: right
      font-size: 13px
      color: #39a9dc
      display: table
      padding-top: 10px
      margin-bottom: 11px
    .submit-row
      text-align: center
      .big-blue-button
        padding: 0 49px
        margin: 16px 0
      a
        font-size: 13px
        color: #39a9dc
        text-transform: uppercase
    button.back
      border: 1px solid grey
      padding: 10px
      border-radius: 5px
    .devider
      border-top: 1px solid #d4d9e2
      width: 100%
      position: absolute
      left: 0
      margin-top: 20px
    .footer-row
      // height: 0px
      margin-top: 70px
      color: #79828f
      font-size: 15px
      display: flex
      justify-content: space-between
      align-items: center
      a
        border: 1px solid #c6ccd7
        border-radius: 18px
        padding: 13px 24px
        font-size: 14px
        color: #071e40
        display: inline-block
        background-color: white
        height: 36px
        line-height: 0.6
        font-weight: 500
        text-transform: uppercase
  .auth-btn
    float: none !important
    margin-right: 0 !important
  .another-auth-window-link
    cursor: pointer
  .supported-browsers
    padding-top: 15px
