@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic')

*
  font-family: 'Roboto', sans-serif
  // color: #071e40
  letter-spacing: -0.1px
  font-weight: normal
  // line-height: 1
  margin: 0
  outline: none

body, html
  background-color: #ecf1f5
  min-width: 1280px

.container
  width: 960px
  height: 100%
  // overflow-y: auto
  margin: auto
  margin-top: 0
  margin-bottom: 0
  // overflow: hidden
  // position: relative

h1
  font-size: 24px
h2
  font-size: 18px
h3
  font-size: 16px
span
  font-size: 15px
small
  font-size: 13px
  color: #79828f

header .container,
.footer .container,
#requests-page .container,
#managers-page .container
  width: 1266px

a.big-blue-button,
button.big-blue-button,
button.big-red-button,
button.big-grey-button,
button.big-transparent-button
  height: 36px
  border-radius: 36px
  padding: 0 25px
  text-transform: uppercase
  font-size: 14px
  line-height: 36px
  &.save
    padding-left: 49px
    &::before
  &.chat
    padding-left: 42px
    position: relative
    &::before
      background: url("../img/buttons/chat-icon.svg")
      position: absolute
      left: 15px
      top: 10px
      content: ""
      width: 18px
      height: 16px
a.big-blue-button,
button.big-blue-button
  background-color: #39a9dc
  color: white
a.big-blue-button:hover,
button.big-blue-button:hover
  background-color: #4cb0ee
button.big-red-button
  background-color: red
  color: white
button.big-grey-button
  background-color: grey
  cursor: no-drop
  color: white
button.big-transparent-button
  color: white
  background-color: rgba(0, 0, 0, 0)
  border: 1px solid white
button.big-transparent-button:hover
  background-color: white
  color: #071e40


header a.big-blue-button
  display: table
  font-size: 15px
  text-decoration: none
  margin-left: 22px

article.long-text-input
  width: 100%
  height: 65px
  background: white
  position: relative

.card-1, .card-2, .card-3
  width: 229px
  height: 80px
  background: white
  margin: 20px 0 20px 20px
  float: right
  position: relative
  border-radius: 1px

.card-1 span, .card-2 span, .card-3 span
  display: table
  position: absolute
  left: 70px
  top: 22px
  font-size: 14px
  line-height: 1
  color: #071e40
  margin: 0

.card-1 h4, .card-2 h4, .card-3 h4
  display: table
  position: absolute
  left: 70px
  top: 40px
  font-size: 22px
  line-height: 1
  color: #071e40
  margin: 0
  font-weight: 500

.card-1 .img
  background: url("../img/shape-1.svg")

.card-2 .img
  background: url("../img/shape-2.svg")

.card-3 .img
  background: url("../img/shape-3.svg")

.card-1 .img, .card-2 .img, .card-3 .img
  position: absolute
  top: 24px
  left: 19px
  width: auto
  width: 35px
  height: 35px
  background-size: contain
  background-repeat: no-repeat
  content: ""

.advisors
  width: 383px
  padding-top: 42px
  float: left
  span
    display: table
    color: #66666a
    font-size: 14px
    margin-right: 16px
    float: left
    line-height: 1
  .blue-link
    font-size: 14px
    color: #39a9dc
    margin: 0 6px 0 0
    line-height: 1
    &.active
      font-weight: normal
  a.grey-link
    font-size: 14px
    margin: 0
  .row.margin
    margin-top: 11px

.main-column
  width: 576px
  float: left
.second-column
  width: 364px
  float: left
#manager-page .container
  display: table
  padding: 50px 0
  position: relative
  z-index: 20
  .top-row
    width: 100%
    height: 237px
    .social-links
      display: table
      float: left
      margin-top: 44px
  h1, h2, h3
    line-height: 1.25
  h1
    font-size: 24px
    margin: 25px 0 7px 0
  h2
    font-size: 18px
    margin: 0 0 26px 0
  h3
    font-size: 16px
    margin: 0 0 14px 0
  .main-info
    h1, h2
      color: white
    h3
      color: rgba(255, 255, 255, 0.54)
  .box h1
    display: block
    margin: 24px 0 0
  small
  .main-info
    display: table
    margin-left: 29px
    float: left
    .name-row
      margin-bottom: 25px
.box
  li, span
    font-size: 15px
    line-height: 1.4
    color: #79828f
.green
  color: #47bf6f !important
.blue
  color: #39a9dc !important

.new-long-header
  width: 100%
  min-width:  1280px
  height: 347px
  background: #071e40
  position: absolute
  top: 60px
  z-index: 1
  &::after
    width: 100%
    height: 100%
    object-fit: contain
    mix-blend-mode: screen
    background: url("../img/21-screen.png")
    position: absolute
    content: ""
    top: 0
    left: 0

#manager-page
  button.big-transparent-button
    margin-left: 20px
  .company-info
    margin-bottom: 61px
    display: table
    h1
      margin: 9px 0 0
      font-weight: 400
    h3
      margin: 16px 0 0
      color: #79828f
  .company-icon
    width: 77px
    height: 76px
    background-color: #d3d7db
    border-radius: 77px
    float: left
    margin-right: 19px
  .webpage, .networks
    width: 100%
    padding-left: 41px
    position: relative
  .webpage
    margin-bottom: 29px
    a
      font-size: 15px
      color: #3daedf
      text-decoration: none
      word-break: break-all
  .networks a
    font-size: 15px
    color: #3daedf
    text-decoration: none
    word-break: break-all
  .webpage::before
    background: url(../img/webpage.svg)
  .networks::before
    background: url(../img/networks.svg)
  .webpage::before, .networks::before
    width: 19px
    height: 22px
    position: absolute
    left: 0
    top: 0
    background-size: contain
    background-repeat: no-repeat
    content: ""

.loading
  padding-top: 50px
  p
    text-align: center
    font-size: 50px
    &:after
      content: ''
      animation: dots infinite 1s

@keyframes dots
  0%
    content: ""

  25%
    content: "."

  50%
    content: ".."

  75%
    content: "..."


.reg-or-log-in button
  margin: 0px !important

.smart-contract-sizer
  text-align: center
  width: 170px
  overflow-x: auto
  display: inline-block
.box.portfolios-page
  .sortable
    max-width: 100%

.no-link-style
  text-decoration: none
  color: black

input
  //height: 50px
  border-radius: 2px
  border: 1px solid #d4d9e2
  font-size: 15px
  line-height: 1.6
  color: #79828f

#requests-page, #portfolios-page
  span.cancelled,
  span.declined,
  span.accepted,
  span.pending
    margin-left: 14px
    position: relative
    text-transform: capitalize
  span.cancelled::before,
  span.declined::before,
  span.accepted::before,
  span.pending::before
    position: absolute
    content: ""
    width: 5px
    height: 5px
    top: 16px
    left: -14px
    border-radius: 5px
  span.cancelled::before
    background: #eb3323
  span.declined::before
    background: #ff9b02
  span.accepted::before
    background: #47bf6f
  span.pending::before
    background: #f6c143
  .my-requests
    width: 100%
    height: 130px
    padding-top: 50px
    .searcharea
      position: relative
      width: 75%
      height: 23px
      float: right
    h2
      font-weight: normal
      font-size: 24px
      line-height: .75
      margin-bottom: 7px
    span
      font-size: 16px
      line-height: 1.13
      color: rgba(121, 130, 143, 0.54)
.services-block input
  margin-left: 20px !important

.request-header
  min-height: 160px

.in-sortable-img-container
  width: 40px
  height: 40px
  border-radius: 50%
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid grey
  img
    border-radius: 0 !important
    width: 100% !important
    height: auto !important

#faq-page
  padding-top: 60px
  .box
    padding: 38px 30px
    position: relative
    &::after
      width: 18px
      height: 18px
      content: ""
      position: absolute
      top: 40px
      left: 30px
      background: url("../img/support-icon.svg")
    & > h1,
    & > h3,
    & > span
      padding-left: 30px
      display: block
    & > h1
      margin-bottom: 8px
  .main-column
    & > .box
      padding-bottom: 5px
    .box > h3
      color: #79828f

.vertical-line
  width: 100%
  height: 1px
  background: #dfe4e8


/* FORMS */
.account-box
  width: 100%
  padding: 50px 100px
  background: white
  border: 2px dashed #dbe5ea
  border-bottom: 0
  overflow-y: visible
  &:first-of-type
    margin-top: 30px
    border-top-left-radius: 2px
    border-top-right-radius: 2px
  &:last-of-type
    border-bottom: 2px dashed #dbe5ea
    margin-bottom: 50px
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
  input
    width: 100%
    height: 50px
    line-height: 50px
    color: #79828f
    margin-bottom: 24px
    border: 1px solid #dfe4e8
    border-radius: 2px
    padding: 0 17px
    transition: box-shadow .3s, border-color .3s
    &:focus
      box-shadow: 0 0 0 1px #39a9dc
      border-color: #39a9dc
    &.error
      box-shadow: 0 0 0 1px #f70000
      border-color: #f70000
  span
    display: block
    margin-bottom: 26px
    margin-top: 15px
    *
      color: #79828f
  small
    display: block
    width: 100%
    float: none
    margin-bottom: 11px
    line-height: 1
    color: #071e40
    &.blue
      margin-bottom: 38px
  h1
    margin-bottom: 29px
  h2
    display: inline
    margin-right: 6px
  ul
    margin-bottom: 26px
    li
      font-size: 16px
  .big-blue-button
    margin-top: 6px
