@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');
body, html {
  font-family: 'Roboto', sans-serif;
}
a.big-blue-button,
button.big-blue-button,
button.big-transparent-button {
  height: 36px;
  border-radius: 18px;
  background-color: #39a9dc;
  padding: 11px 25px;
  color: white;
  text-transform: uppercase;
}
button.big-transparent-button {
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
}
header.header a.big-blue-button {
  font-size: 15px;
  text-decoration: none;
  margin-left: 22px;
}

article.long-text-input {
  width: 100%;
  height: 65px;
  background: white;
  position: relative;
}
article.long-text-input input[type="text"]{
  position: absolute;
  left: 48px;
  top: 0;
  width: calc(100% - 350px);
  height: 100%;
  padding: 27px 0;
  font-size: 15px;
  color: #071e40;
  line-height: 1.2;
  letter-spacing: -0.2px;
  outline: none;
  border: none;
}
article.long-text-input button.search {
  background: url("../img/zoom.svg");
  width: 19px;
  height: 18px;
  left: 0;
  top: 24px;
}
article.long-text-input button.cancel {
  background: url("../img/cross.svg");
  width: 15px;
  height: 16px;
  right: 0;
  top: 25px;
}
article.long-text-input button.search,
article.long-text-input button.cancel {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.card-1,
.card-2,
.card-3 {
  width: 229px;
  height: 80px;
  background: white;
  margin: 20px 0 20px 20px;
  float: right;
  position: relative;
  border-radius: 1px;
}
.card-1 span,
.card-2 span,
.card-3 span {
  display: table;
  position: absolute;
  left: 70px;
  top: 22px;
  font-size: 14px;
  line-height: 1;
  color: #071e40;
  margin: 0;
}
.card-1 h4,
.card-2 h4,
.card-3 h4 {
  display: table;
  position: absolute;
  left: 70px;
  top: 40px;
  font-size: 22px;
  line-height: 1;
  color: #071e40;
  margin: 0;
  font-weight: 500;
}
.card-1 .img {
  background: url("../img/shape-1.svg");
}
.card-2 .img {
  background: url("../img/shape-2.svg");
}
.card-3 .img {
  background: url("../img/shape-3.svg");
}
.card-1 .img,
.card-2 .img,
.card-3 .img {
  position: absolute;
  top: 24px;
  left: 19px;
  width: auto;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}


.advisors {
  /* width: 183px; */
  width: 383px;
  padding-top: 42px;
  float: left;
}
.advisors span {
  display: table;
  color: #66666a;
  font-size: 14px;
  margin-right: 16px;
  float: left;
  line-height: 1;
}
.advisors .blue-link {
  font-size: 14px;
  color: #39a9dc;
  margin: 0 6px 0 0;
  line-height: 1;
}
.advisors .blue-link.active {
  font-weight: normal;
}
.advisors a.grey-link {
  font-size: 14px;
  margin: 0;
}
.advisors .row.margin {
  margin-top: 11px;
}

/* MANAGER PAGE */
.manager-container {
  width: 960px;
  margin: auto;
  display: table;
  padding: 50px 0;
  position: relative;
  z-index: 20;
}
.manager-container .main-column {
  width: 576px;
  float: left;
}
.manager-container .second-column {
  width: 364px;
  float: right;
}
.manager-container .top-row {
  width: 100%;
  height: 237px;
}
.manager-container img.avatar {
  width: 96px;
  height: 96px;
  border-radius: 100px;
  float: left;
}
.manager-container h1,
.manager-container h2,
.manager-container h3 {
  letter-spacing: -0.1px;
  line-height: 1.25;
  font-weight: 500;
}
.manager-container h1 {
  font-size: 24px;
  margin: 25px 0 7px 0;
}
.manager-container h2 {
  font-size: 18px;
  margin: 0 0 26px 0;
}
.manager-container h3 {
  font-size: 16px;
  margin: 0 0 14px 0;
}
.manager-container .main-info h1,
.manager-container .main-info h2 {
  color: white;
}
.manager-container .main-info h3 {
  color: rgba(255, 255, 255, 0.54);
}
.manager-container .box h1 {
  display: block;
  margin: 24px 0 0;
  line-height: 1;
}
.manager-container h1.green {
  color: #47bf6f !important;
  /* opacity: .75; */
}
.manager-container small {
  font-size: 13px;
  color: #79828f;
  margin: 0;
  line-height: 1;
}
.manager-container .main-info {
  display: table;
  margin-left: 29px;
  float: left;
}
.manager-container .main-info .name-row {
  margin-bottom: 25px;
}
.manager-container li,
.manager-container span {
  font-size: 15px;
  color: #79828f;
}


.new-long-header {
  width: 100%;
  height: 347px;
  background: #071e40;
  position: absolute;
  top: 60px;
  z-index: 1;
}
.new-long-header::after {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: screen;
  background: url("../img/21-screen.png");
  position: absolute;
  content: "";
  top: 0;
}


.footer .social {
  width: 138px;
  float: right;
  margin-top: 7px;
}
.footer .social .social-icon {
  /*width: 23px;*/
  /*height: 23px;*/
  filter: invert(70%); /*Иначе на белом фоне не видно ¯\_(ツ)_/¯*/
  margin-left: 10px;
  float: left;
}
.manager-container .social {
  display: table;
  float: right;
  margin-top: 44px;
  margin-right: 125px;
}
.manager-container .social .social-icon {
  /*width: 23px;*/
  /*height: 23px;*/
  margin-left: 14px;
  float: left;
}
.manager-container .social span {
  margin-left: 14px;
}
.manager-container .social .row {
  margin-top: 13px;
}
.manager-container .box .social {
  margin: 0;
  float: left;
}
.manager-container .box .social .social-icon {
  margin: 0 14px 0 0;
}
.manager-container button.big-transparent-button {
  margin-left: 20px;
}

.manager-container .company-info {
  margin-bottom: 61px;
  display: table;
}
.manager-container .company-info h1 {
  margin: 9px 0 0;
  font-weight: 400;
}
.manager-container .company-info h3 {
  margin: 16px 0 0;
  color: #79828f;
}
.manager-container .company-icon {
  width: 77px;
  height: 76px;
  background-color: #d3d7db;
  border-radius: 77px;
  float: left;
  margin-right: 19px;
}

.manager-container .webpage,
.manager-container .networks {
  width: 100%;
  padding-left: 41px;
  position: relative;
}
.manager-container .webpage {
  margin-bottom: 29px;
}
.manager-container .webpage a,
.manager-container .networks a {
  font-size: 15px;
  color: #3daedf;
  text-decoration: none;
  word-break: break-all;
}
.manager-container .webpage::before {
  background: url(../img/webpage.svg);
}
.manager-container .networks::before {
  background: url(../img/networks.svg);
}
.manager-container .webpage::before,
.manager-container .networks::before {
  width: 19px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

/*
input[type="range" i]::-webkit-slider-thumb, input[type="range" i]::-webkit-media-slider-thumb {
  background-color: #48a8da;
}*/

.loading p {
  text-align: center;
  font-size: 50px;
}
.loading p:after {
  content: '';
  animation: dots infinite 1s
}
@keyframes dots {
  0% {
    content: ''
  }
  25% {
    content: '.'
  }
  50% {
    content: '..'
  }
  75% {
    content: '...'
  }
}