
.sortable ul.listings {
  list-style-type: none;
  width: 1266px;
  padding: 0;
  margin: 0;
}

.sortable .header,
.sortable ul.listings li.listing {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}
.sortable ul.listings li.listing {
  height: 72px;
  background: white;
  padding: 22px 20px 0;
  margin-bottom: 10px;
  border-radius: 2px;
}
.sortable .header {
  height: 64px;
  background: rgba(0, 0, 0, 0);
  padding: 19px 20px 0;
  border-top: 1px solid #d2d7da;
}

.sortable ul.listings li.listing .cell {
  height: 30px;
  content: "";
  float: left;
  margin-right: 20px;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
}
.sortable .header .cell {
  height: 25px;
  content: "";
  float: left;
  margin-right: 20px !important;
}
.sortable .header .cell span {
  display: table;
  font-size: 13px;
  line-height: 1.15;
  text-align: left;
  letter-spacing: -0.2px;
  color: #66666a;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
}
.sortable .header .cell span.unsortable {
  cursor: default;
}
.sortable .header .cell span.asc,
.sortable .header .cell span.desc {
  text-decoration: underline;
}
.sortable .header .cell span.asc::after {
  background: url(../img/buttons/arrow_up.png);
}
.sortable .header .cell span.desc::after {
  background: url(../img/buttons/arrow_down.png);
}
.sortable .header .cell span.asc::after,
.sortable .header .cell span.desc::after {
  width: 9px;
  height: 6px;
  position: absolute;
  right: -13px;
  top: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .9;
  content: "";
}

.sortable .header .cell.last,
.sortable ul.listings li.listing .cell.last {
  margin-right: 0 !important;
  padding: 0 !important;
}

.sortable ul.listings li.listing .cell .rating {
  height: 28px;
  /* width: auto; */
  display: table;
  border-radius: 28px;
  background-color: #ff9b02;
  color: white;
  padding: 0 9px;
  line-height: 1.75;
  font-size: 16px;
}

/* CUSTOM ELEMENTS */
.sortable .user-icon {
  width: 41px;
  height: 41px;
  margin-top: -6px;
  border-radius: 100px;
}

.sortable button.big-blue-button {
  top: -4px;
  position: relative;
}
