.sortable
  ul.listings
    list-style-type: none
    //width: 1266px
    padding: 0
    margin: 0
  .header
    box-sizing: border-box
    display: inline-block
    width: 100%
  ul.listings li.listing
    box-sizing: border-box
    display: inline-block
    width: 100%
    height: 72px
    background: white
    padding: 0 20px
    margin-bottom: 10px
    border-radius: 2px
  .header
    height: 64px
    background: rgba(0, 0, 0, 0)
    padding: 19px 20px 0
    border-top: 1px solid #d2d7da
  ul.listings li.listing .cell
    height: 72px
    content: ""
    float: left
    margin-right: 20px
    padding-top: 22px
    font-size: 16px
    line-height: 1.75
    text-align: left
    overflow-y: visible
    overflow-x: hidden
  .header .cell
    height: 25px
    content: ""
    float: left
    margin-right: 20px !important
    span
      display: table
      font-size: 13px
      line-height: 1.15
      text-align: left
      letter-spacing: -0.2px
      color: #66666a
      cursor: pointer
      margin: 0
      padding: 0
      position: relative
      &.unsortable
        cursor: default
      &.asc, &.desc
        text-decoration: underline
      &.asc::after
        background: url(../img/buttons/arrow_up.png)
      &.desc::after
        background: url(../img/buttons/arrow_down.png)
      &.asc::after, &.desc::after
        width: 9px
        height: 6px
        position: absolute
        right: -13px
        top: 5px
        background-size: contain
        background-repeat: no-repeat
        opacity: .9
        content: ""
    &.last
      margin-right: 0 !important
      padding-right: 0 !important
  ul.listings li.listing .cell
    &.last
      margin-right: 0 !important
      padding-right: 0 !important
    .rating
      height: 28px
      display: table
      border-radius: 28px
      background-color: #ff9b02
      color: white
      padding: 0 9px
      line-height: 1.75
      font-size: 16px
  .user-icon
    width: 41px
    height: 41px
    margin-top: -6px
    border-radius: 100px
  button.big-blue-button
    top: -4px
    position: relative
