article.accordion
  width: 100%
  min-height: 73px
  padding: 12px 0 12px 30px
  &.last
    border-bottom: 0px
  & > h2
    color: #39a9dc
    line-height: 49px
    cursor: pointer
    position: relative
    width: 100%
    &::after
      position: absolute
      content: ""
      background: url("../img/buttons/arrow-icon.svg")
      background-size: contain
      background-repeat: no-repeat
      width: 16px
      height: 8px
      right: 27px
      top: 21px
      transition: transform .4s
  &.opened > h2::after
    transform: rotate(180deg)
  & .collapsable-area > .content
    padding-bottom: 14px
  & .collapsable-area
    overflow: hidden
    transition: max-height .4s
