.progress-bar-3
  overflow-y: auto
  margin: 58px 0
  & > .container
    position: relative
  .content-column
    width: 100%
    height: auto
    float: left
    .big-blue-button, .big-grey-button
      margin-top: 50px
      padding: 0 50px
  .bar-column
    position: absolute
    width: 280px
    top: 0
    right: 0
    & > .grey-bar
      width: 100%
      height: 7px
      border-radius: 3px
      background-color: #d3d7db
      position: relative
      margin: 8px 0 17px
    .green-bar
      height: 7px
      border-radius: 3px
      background-color: #47bf6f
      position: absolute
      top: 0
      left: 0
